---
import MainLayout from "../../layouts/MainLayout.astro";
import { getEntry } from 'astro:content';
import { formatDate } from "../../utils";
import Tags from "../../components/Tags.astro";

const { slug } = Astro.params;

if(slug === undefined) {
    throw new Error('Slug is required');
}

const entry = await getEntry('blog', slug);

if(entry === undefined) {
    return Astro.redirect('/404');
}

const { Content } = await entry.render();

---

<MainLayout>
    <a href="/articles" class="inline-block rounded-md bg-gray-100 p-2 mb-6 hover:bg-indigo-500 hover:opacity-55">Back To Articles</a>
    <article>
    <div class="flex flex-col md:flex-row justify-between gap-12">
      <div class="mr-16 md:mt-24">
        <h1 class="text-4xl font-bold mb-4">{entry.data.title}</h1>
        <h3 class="text-lg mb-2">Written by <span class="font-bold text-spblack">{entry.data.author}</span></h3>
        <h3 class="text-lg mb-4">Published on <span class="font-bold text-spblack">{formatDate(entry.data.pubDate)}</span></h3>
        <Tags tags={entry.data.tags}/>
      </div>
      <div>
        <img src={'/images/' + entry.data.image} alt="Article Image" class=" h-auto rounded-xl mb-6" height={375} width={666}/>
      </div>
    </div>
    <div class="md:px-16 text-justify">
      <Content />
    </div>
    </article>
</MainLayout>

<style is:global>
    p {
        margin: 20px 0
    }

    h2{
        margin: 20px 0;
        font-size: 1.8rem;
        font-weight: bold;
    }

    h3{
        font-size: 1.4rem;
        font-weight: semibold;
    }
</style>