---

---

<footer class="bg-black text-spblue2 rounded-tl-xl">
    <div class="container mx-auto mt-10 max-w-screen-xl px-8 pb-3">
      <div class="flex flex-col md:flex-row justify-between px-6">
        <div class="mt-10">
          <h3 class="text-xl font-semibold mb-4">Stockpile</h3>
          <p class="text-white text-sm">
              Community dervied funding for the open internet.
          </p>
        </div>
        <div class="mt-10">
          <h3 class="text-xl font-semibold mb-4">General</h3>
          <ul class="text-white text-sm">
            <li class="mb-2">
              <a href="#">Home</a>
            </li>
            <li class="mb-2">
              <a href="#">Explore</a>
            </li>
            <li class="mb-2">
              <a href="#">Projects</a>
            </li>
            <li class="mb-2">
              <a href="#">Grants</a>
            </li>
          </ul>
        </div>
        <div class="mt-10">
          <h3 class="text-xl font-semibold mb-4">Support</h3>
          <ul class="text-white text-sm">
            <li class="mb-2">
              <a href="#">Documentation</a>
            </li>
            <li class="mb-2">
              <a href="#">FAQ</a>
            </li>
          </ul>
      </div>
        <div class="mt-10">
          <h3 class="text-xl font-semibold mb-4">Company</h3>
          <ul class="text-white text-sm">
            <li class="mb-2">
              <a href="#">About</a>
            </li>
            <li class="mb-2">
              <a href="#">Blog</a>
            </li>
            <li class="mb-2">
              <a href="#">Mission</a>
            </li>
            <li class="mb-2">
              <a href="#">Partners</a>
            </li>
          </ul>
      </div>
        <div class="mt-10">
          <h3 class="text-xl font-semibold mb-4">Legal</h3>
          <ul class="text-white text-sm">
            <li class="mb-2">
              <a href="#">Privacy</a>
            </li>
            <li class="mb-2">
              <a href="#">Terms</a>
            </li>
          </ul>
      </div>
</footer>